<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
	<title>WishList</title>
</head>

<body>
    <%- include('./partials/nav.ejs')  %>

	<h1>Dashboard</h1>

    <form>
        <input type="button" onclick="window.location.href='/product/new';" value="New item" />
        <input type="button" onclick="window.location.href='/product';" value="View All Items" />
    </form>

    <% let wishListArray = []; %>
    <% products.forEach(p => { %> 
        <% if(wishListArray.indexOf(p.wishList)=== -1) {%>
            <% wishListArray.push(p.wishList) }%>  
    <% }) %>  
    
    
    <% wishListArray.forEach(w => { %> 
        <h3><a href="/product/wishlist/<%= w %>"><%= w %> wishlist</a></h3>
        <div class="scrolling-products">
                <% products.forEach(p => { %> 
                    <% if(p.wishList === w) {%>
                            <div class="dashboardItem"><h6><a class='dashboard-titles' href="/product/<%= p._id %>"><%= p.title %></a></h6><a href="/product/<%= p._id %> "><img class='dashboard-images' src="<%= p.imageLink %>" alt="product image"></a></div>
                    <% } %>
                <% }) %> 
        </div> 
    <%}) %> 

</body>

</html>