<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/d4c0810681.js" crossorigin="anonymous"></script>
	<title>Wish</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="topLinks">
                    <i class="fa-solid fa-cloud fa-1x"></i>
					<a href="/">Dashboard</a>
				</li>
				<li class="topLinks">
					<a href="/product">View All</a>
				</li>
			</ul>
		</nav>
        <h1>Edit <%= product.title %>'s Info</h1>
	</header>
	<main>
		<h2>Product Attributes:</h2>
		<form action="/product/<%= product._id %>?_method=PUT" method="POST">
			Link to item: <input type="text" name="link" value="<%= product.link %>" /><br />
			Item title: <input type="text" name="title" value="<%= product.title %>" /><br />
			Price: $<input type="number" step='any' name="price" value="<%= product.price %>" /><br />
            Store: <input type="text" name="store" value="<%= product.store %>" /><br />
			Image Link: <input type="text" name="imageLink" value="<%= product.imageLink %>" /><br />
			Tags: <input type="text" name="tags" value="<%= product.tags %>" /><br />
			Wishlist: <input type="text" name="wishList" value="<%= product.wishList %>" /><br />
            <input type="submit" value="Update Product" />
		</form>
	</main>
</body>

</html>