<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/d4c0810681.js" crossorigin="anonymous"></script>
    <title>Wish</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="topLinks">
                    <i class="fa-solid fa-cloud fa-1x"></i>
                    <a href="/">Dashboard</a>
                </li>
                <li class="topLinks">
                    <a href="/product/wishlist/<%=product.wishList%>"> <%=product.wishList%> wishlist</a>
                </li>
            </ul>
        </nav>
        <h1><%= product.title %></h1>
    </header>
    <main>
        <section>
            <ul>
                <li>Link: <a href="<%=product.link%>"><%=product.link%></a></li>
                <li>Store: <%= product.store %></li>
                <li>Price: $<%= product.price %></li>
                <li>Tags: <%= product.tags %></li>
                <li>Wishlist: <%= product.wishList %></li>
                <img class='product-show-image' src="<%= product.imageLink%>" alt="product image">
            </ul>
        </section>
        <section>
            <a href="/product/<%= product._id %>/edit">Edit</a><br><br>
            <form action="/product/<%= product._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Product" />
            </form>
        </section>
    </main>
</body>

</html>